In [ ]:
#BASIC STATISTICS : FREQUENCY TABLE

# extracted from report genered by 1st Agency for Home Health Care when assessing expansion to other counties.
# imported spreadsheet data represents the number of home health care agencies in 60 different counties. 
# a fequency table is represented to organize the data in a readable manner.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [24]:
# import excel spreadsheett (raw data)
rawDataHHC = pd.read_excel('rowDataHHC.xlsx')

In [34]:
rawDataHHC.head()

     Agency  Number of Agency
0   Alachua                31
1     Baker                 1
2       Bay                16
3  Bradford                 0
4   Brevard                45

In [27]:
# basic frequency table for data
frequencyTable = pd.crosstab(index=rawDataHHC['Number of Agency'], columns='count')

In [33]:
frequencyTable.head()

col_0             count
Number of Agency
0                     6
1                    12
2                     2
4                     2
5                     2

In [41]:
# frequency for class limit 0-21
GroupFreq021 = frequencyTable.iloc[0:13].sum()

In [42]:
GroupFreq021

col_0
count    37
dtype: int64

In [37]:
# frequency for class limit 22-43
GroupFreq2243 = frequencyTable.iloc[13:21].sum()

In [38]:
GroupFreq2243

col_0
count    11
dtype: int64

In [39]:
# frequency for class limit 44-65
GroupFreq4465 = frequencyTable.iloc[21:22].sum()

In [40]:
GroupFreq4465

col_0
count    2
dtype: int64

In [31]:
# final readable frequency table
Freqtabl = pd.DataFrame({'# Agency': ['0-21', '22-43', '22-65','66-87', '88-109', '100-131','176-197','264-285','374-395'],'Tally':['////////// ////////// ////////// ///////', '////////// /','//', '/','///','/','/','//','/' ], 
                        'Frequency': [37, 11, 2, 1, 3, 1,  1, 2, 1]})

In [32]:
Freqtabl

  # Agency                                     Tally  Frequency
0     0-21  ////////// ////////// ////////// ///////         37
1    22-43                              ////////// /         11
2    22-65                                        //          2
3    66-87                                         /          1
4   88-109                                       ///          3
5  100-131                                         /          1
6  176-197                                         /          1
7  264-285                                        //          2
8  374-395                                         /          1

In [ ]:
# the frequenct distribution shows most counties have less than 22 home health agencies. 
# assuming other factors being hold, these areas could have more opportunity for expansion.
# Avoid saturated areas.